body{
    background: rgb(7, 7, 58);
    text-align: center;
}
.calcu{
    background: linear-gradient(45deg, #020546, #8f94fb);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(5, 3, 2, 25.1);
}

.calcu h1 {
    background: linear-gradient(45deg, #020546, #8f94fb);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(5, 3, 2, 25.1);
}

.calcu form{
    linear-gradient(45deg, #020546, #8f94fb)
    width: 100%; 
}
.calcu form .op1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: rgb(14, 7, 7);
    margin: 10px;
    background:linear-gradient(45deg, #b1480c, #bd8f74) ;
    text-align: center;
}

.calcu form .parametro{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: rgb(20, 20, 20);
    margin: 10px;
    background:linear-gradient(45deg, #aa9d95, #bd8f74);
    text-align: center;
}
.calcu form .op2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: rgb(20, 20, 20);
    margin: 10px;
    background:linear-gradient(45deg, #b1480c, #9b6546);
    text-align: center;
}
.calcu form .sub{
    background-color: #ce8415;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
   
}
.calcu form .resultado{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    }